<h1>
  {{title}}
</h1>

<div>
    <input type="text" name="name" [(ngModel)]="title" class="input-title" />
</div>

<article>
    <input type="number" name="name" value="" [(ngModel)]="valor1" class="qa-first-field" />
    <input type="number" name="name" value="" [(ngModel)]="valor2" class="qa-second-field"/>
    <input type="number" name="name" value="" [(ngModel)]="valor3"/>
    <button (click)="divide()">divide</button>
    <button (click)="multiplica()">multiplica</button>
    <button (click)="soma()">soma</button>
    <span class="qa-result">{{result}}</span>
</article>